.skill {
   width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;

   @media screen and (max-width: 750px) {
      &:nth-child(-n+2) {
         margin-bottom: 30px;
      }
   }

   .icon {
      width: 70px;
      height: 70px;
      background-size: cover;
      background-position: center;
   }

   .description {
      text-align: center;
   }
}