.projectsBlock {
   background-color: #1f1f20;
   height: auto;
}

.projectsContainer {
   flex-direction: column;
   align-items: center;
}

.title {
   margin-bottom: 30px;
   position: relative;
}

.title h2 {
   margin: 0;
   letter-spacing: 5px;
   font-weight: 400;
   letter-spacing: 5px;
   font-size: 36px;
   color: #fff;
   text-transform: capitalize;
}

.title::before {
   content: '';
   position: absolute;
   background: #4e93e6;
   width: 55px;
   height: 1px;
   bottom: -30px;
   left: 50%;
   transform: translate(-50%, 50%);
}

.projects {
   display: flex;
   margin-top: 30px;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
}

@media screen and (max-width: 1025px) {
   .projects {
      justify-content: center;
   }
}