.mainBlock{
   background-color: #1f1f20;;
   height: 100vh;
}

.mainContainer{ 
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

.text{
   width: 400px;
   /* background-color: rgb(182, 175, 175); */
}
.photo{
   width: 300px;
   height: 400px;
   background-image: url('./../../assets/image/me.JPG');
   background-position: center;
   background-size: cover;
}

@media screen and (max-width: 770px) {
   .mainContainer {
      justify-content: center;
   }
}