@import './../../common/styles/sass/variables';

.mainBlock {
  background-color: $bgSecondaryColor;
  height: 100vh;

  @media screen and (max-width: 1017px) {
    height: auto;
  }

  .mainContainer {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 1017px) {
      justify-content: center;
    }

    .text {
      width: 450px;

      span {
        font-size: 20px;
      }

      h1 {
        font-size: 40px;

        span {
          font-size: 35px;
        }
      }

      p {
        font-size: 20px;
      }
    }

    .photo {
      width: 350px;
      height: 400px;
      background-image: url('./../../assets/image/me.JPG');
      background-position: center;
      background-size: cover;
    }
  }
}