@import './../../common/styles/sass/variables';

.skillsBlock {
   background-color: $bgPrimaryColor;
   height: auto;

   .skillsContainer {
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;

      .skills {
         margin-top: 30px;
         width: 100%;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;

         @media screen and (max-width: 750px) {
            justify-content: center;
         }
      }
   }
}