.title {
   margin-bottom: 15px;
   position: relative;
}

.title h2 {
   margin: 0;
   letter-spacing: 5px;
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 400;
   letter-spacing: 5px;
   font-size: 36px;
   color: #fff;
   text-transform: capitalize;
}

.title::before {
   content: '';
   position: absolute;
   background: #4e93e6;
   width: 55px;
   height: 1px;
   bottom: -15px;
   left: 50%;
   transform: translate(-50%, 50%);
}