.navigation{
   width: 300px;
   display: flex; 
   justify-content: space-between;
   margin-right: 10%;
}

.navigation a{
   text-decoration: none;
   color: #fff;
}

.navigation a:hover{
   color: #4e93e6;
}