@import './../../common/styles/sass/variables';

.footerBlock {
   background-color: $bgSecondaryColor;
   height: auto;
}

.footerContainer {
   flex-direction: column;
   align-items: center;
}

.title{

}

.storage{
   display: flex;
   flex-wrap: wrap;
}

.copyRight{
 
}